
.upload-form-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .upload-form-container h2 {
    color: #333;
  }
  
  .form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #4d1515;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .label{
    display: flex;
    gap: 10px;
  }
  
  .form-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-radio-group {
    display: flex;
    margin-bottom: 15px;
  }
  
  .form-radio-group label {
    margin-right: 15px;
  }
  
  .form-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #2980b9;
  }
  