.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: antiquewhite;
  }
  
  .user-info {
    margin-top: 20px;
  }
  
  .user-info span {
    display: block;
    margin-bottom: 10px;
  }
  