.chat-container {
  display: flex;
  /* max-width: 1024px; */
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  height: 550px;
}

.user-list {
  flex: 1;
  padding: 1rem;
  background-color: #f5f5f5;
}

.user-list h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.user-list ul {
  list-style: none;
  padding: 0;
}

.user-list li {
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.user-list li:hover {
  background-color: #5e5d5d;
}

.selected-user {
  background-color: #3498db;
  color: #fff;
}

.chat {
  flex: 2;
  padding: 1rem;
}

.chat h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.conversation {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 450px;
}

.message-list {
  margin-top: 1rem;
  height: 212px;
  border: 1px solid #ccc;
  overflow-y: scroll;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 0.5rem;
}

.input-box {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.input-box input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.input-box button {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease-in-out;
}

.input-box button:hover {
  background-color: #27ae60;
}

.start-btn {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.start-btn:hover {
  background-color: #2980b9;
}
.chat-dialog {
  position: fixed;
  bottom: 0%;
  left: 72%;
  border: none;
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ddd2d2;
  overflow-y: auto;
  z-index: 999;
}
.close-btn-chat{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  background: none;
}

.noUser{
  margin-top:10px;
  width: 300px;
  text-align: center;
}
