.hero-container {
  /* background-image: url('');  */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  padding: 150px 0;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 30px;
}

.cta-button button {
  background-color: #2ecc71;
  color: #fff;
  font-size: 1.2em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button button:hover {
  background-color: #27ae60;
}

.social-icons {
  margin-top: 20px;
}

.social-icons svg {
  font-size: 2em;
  margin: 0 10px;
  color: #fff;
  transition: color 0.3s ease;
}

.social-icons svg:hover {
  color: #3498db;
}
